name: dummy workflow

on:
  push:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: install git 
      run: |
        sudo apt install git 
        git --version 

    - name: clone 
      run: |
        mkdir app
        ls -la app

      
  
