name: event filter
on:
  push:
    branches: [ main, dev ] 
    #branches-ignore: 
     # - feature/*
  pull_request: 
    types: 
      - opened
      - closed
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: event fileter
        run: echo ${{ github.event_name }}
    
  
