name: using the matrix option
on:
  push:
  workflow_dispatch:
jobs:
  build:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        exclude:
          - os: macos-latest
        include:
          - os: windows-latest
    runs-on: ${{ matrix.os }} 
    steps:
    - name: docker information
      run: docker info  
