name: needs job 

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: build 
        run: echo "This is buid job"

  deploy:     
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: deploy
        run: echo "This is deploy"
      




